<ul class="nav pull-right">
  <li><%= link_to "Home", root_path %></li>
  <li><%= nav_link_to "Consulting", consulting_path %></li>
  <li><%= nav_link_to "Entrepreneurship", entrepreneurship_path %></li>
  <li><%= nav_link_to "Résumé", resume_path, "resume" %></li>
  <li><%= nav_link_to "Get in Touch", contact_path, "contact" %></li>
</ul>